<!-- Begin Contents -->
<%
@contents = @screen.subscriptions.where(field_id: @screen.fields.map(&:id)).map { |s| s.contents }.flatten.collect! {|c| c.parent || c}.uniq
@contents = Kaminari.paginate_array(@contents).page(params[:page])

unless @contents.empty?
%>

<div class="clearfix default-padding">
  <div class="header-with-icon clearfix">
    <h3 style="float: left;">
      <%= t '.subscribed_approved_active_content' %>
    </h3>
    <div class="pagination-cont">
      <%= paginate @contents %>
    </div>
  </div>
  <br />
  <% @contents.each do |content| %>
    <%= render partial: "contents/content_tile", locals: { content: content } %>
  <% end %>
</div>

<% end %>
